body {
    font-family: Gluten;
    background-color: #3F7EA1;
    color:#EDB874 ;
}

 h1,h2,h3,h4,h5,h5,h6 {
     font-family: Gluten;
     text-align: center;
     font-size: 20pt;
 }

 header {
     text-align: center;
 }

 #hero, footer {
     color:#3422A2 ;
     border: 2px solid #F62D0F;
     background-color: #A16F2F;
     text-align: center;
     padding: 10px;
 }
 /*hero Section*/
 
 #hero img {
     width: 300px;
 }

 /* Bio Section */

 #bio{
     text-align: center;
 }
 /* Hobbies */

#hobbies ul li:nth-child(even) {

    color: #F62D0F;
}
/* Gallery */

#gallery{
    border: 2px solid #F62D0F;
    margin-bottom: 2rem;
}

#gallery img{
    max-width: 100%;
}

#gallery figure{
    text-align: center;
}

/* Literature */
#lit{
border: 2px solid #F62D0F;
margin-bottom:2rem;

}

#lit div{
    padding:3rem;
    max-width: 50rem;
    margin:0 auto;
}

#lit div p{
    padding: 0.3rem 0;
    
}
#lit div p:first-child:first-letter {

color:#F62D0F;
float:left;
font-size:3rem;
padding:.25rem;
margin-right:.25rem;
line-height: .65;
border:4px outset #3422A2 ;
border-top-left-radius: .2rem;
border-bottom-right-radius: .2rem;


}
